@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Use this area to provide additional information.</p>
<div id="@("vdo" + ViewBag.otp)" style="height:400px;width:640px;max-width:100%;"></div>
<script>
	(function(v,i,d,e,o){v[o]=v[o]||{}; v[o].add = v[o].add || function V(a){ (v[o].d=v[o].d||[]).push(a);};
	if(!v[o].l) { v[o].l=1*new Date(); a=i.createElement(d), m=i.getElementsByTagName(d)[0];
	a.async=1; a.src=e; m.parentNode.insertBefore(a,m);}
	})(window,document,'script','//de122v0opjemw.cloudfront.net/vdo.js','vdo');
	vdo.add({
	    o: "@ViewBag.otp",
	});
</script>